# Server Configuration
PORT=3000
NODE_ENV=development

# NeonDB PostgreSQL Connection
DATABASE_URL=postgresql://neondb_owner:npg_MU6EYVKRu0wO@ep-round-bonus-a14zy71l-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Redis Configuration (for existing worker functionality)
REDIS_HOST=localhost
REDIS_PORT=6379

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:4000

# JWT Secret
JWT_SECRET=curodaleetcodeclonebychatanya

# Cloudinary Configuration (for image uploads)
CLOUDINARY_CLOUD_NAME=codura
CLOUDINARY_API_KEY=292153253423969
CLOUDINARY_API_SECRET=NKZ_AbcoJFMt6PYjQssEgT6LJPQ
